@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:20px;
  font:14px/1.5 Helvetica, Arial, sans-serif;
  color:#222;
  background-color: white;
  font-weight:100;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 10px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1, h1 a {
  font-size:28px;
  color:#343434; 
  font-weight:500;
}

h2 {
  color:#393939;
  font-weight:500;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:200;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

.pictures {
  line-height: 100px;
 }

.pictures img {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
  border-top: 10px;
}

header {
  float:left;
  width: 160px;
}

section {
  width: 48em;
  float:right;
  margin-bottom: 3em;
}

header ul {
  list-style:none;  
  padding:0;
}

header li {
  width:100px;
  float:left;
  height:30px;
  padding-bottom: 5px;
}


header ul a {
  line-height:1;
  display:block;
  text-align:left;
  padding-top:8px;
  height:25px;
}

strong {
  color:#222;
  font-weight:500;
}

article small {
  text-align: right
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  opacity: 0.5;
  color: black;
  clear: both;
  position: relative;
  float: right;
  z-index: 10;
  height: 3em;
  margin-top: em;
}


@media print, screen and (max-width: 960px) {
  div.wrapper {
    width:auto;
    margin:5;   
  }

  body {
    width: auto;
  }

  header, body {
    word-wrap:break-word;
    padding-left: 2px;
  }

  section {
    float: none;
    position: static;
    word-wrap: break-word;
    width: auto;
  }

}

@media print, screen and (max-width: 720px) {

  header {
    padding:0;
    width: 200;
  }
  
  pre, code {
    word-wrap:normal;
  }

  header, section, footer {
    float:none;
    position:static;
  }

  section {
    padding-left: 0px;
  }
}
