body {
  background-color:#fff;
  color:#222;
  font-size:16px;
  font-family:Helvetica;
  word-wrap:break-word;
  margin:0;
  padding:0;
  height:100%;
}

#container {
  min-height:100%;
  position:relative;
  height:100%;
}

#wrap {
  width:1024px;
  padding:10px;
  margin:0 auto;
  height:100%;
}

h1 a,h1 a:active,h1 a:visited {
  color:#000;
  text-decoration:none;
}

h1 {
  font-weight:400;
}

h2 {
  font-weight:400;
  font-size:1.2em;
  margin:0;
  line-height:1.25;
}

#headerbar {
  height: 103px;
  border-top:3px solid #1e87e6;
}

#animation{ 
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#sidebar {
  float:left;
  top:40px;
  left:20px;
  width:170px;
  padding:20px 20px 0 0;
}

#main {
  float:left;
  padding:20px;
}

#sidebar h2 {
  float:right;
  text-transform:uppercase;
  font-size:13px;
  color:#333;
  letter-spacing:1px;
  line-height:20px;
}

#sidebar ul {
  text-align:right;
  list-style-type:none;
  margin-top:10px;
}

#sidebar li {
  text-transform:uppercase;
  font-size:12px;
  line-height:20px;
}

#pageTitle{
  float:right;
  text-transform:uppercase;
  font-size:13px;
  color:#333;
  letter-spacing:1px;
  margin:0px;
}


#postDate {
  font-size:9px;
}

h3 {
  text-transform:uppercase;
  font-size:10px;
  line-height:20px;
}

article header {
  color:#333;
  text-transform:uppercase;
  font-size:12px;
  line-height:20px;
  margin-bottom:10px;
}

article header p {
  margin:0;
}

article p {
  font-size:13px;
}

article {
  float:left;
  width:600px;
}

#about_photo {
  width:170px;
  float:left;
}



#about_photo img {
  max-width: 155px;
}

#about_text {
  font-size: 12px;
}

article.link header h2 a,article.link header h2 a:active,article.link header h2 a:visited {
  color:#268bd2;
  text-decoration:underline;
}

a {
  text-decoration: none;
}

a:link,a:visited {
  color:#268bd2;
}

a:hover {
  color:#073642;
}

img {
  max-width:600px;
  height:auto;
}
