---
layout: default
title: Viraj Sinha
---

<article>

{% for post in paginator.posts %}
	<header>
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p id="postDate">{{ post.date | date_to_string }}</p>
 	</header>

  {% if post.content contains '<!--more-->' %}  
    {{ post.content | split:'<!--more-->' | first }}
    <p><a href="{{ post.url }}">more...</a></p>
  {% else %}
    {{ post.content }}
{% endif %}

 	<hr><br>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  {% else %}
    <span>&laquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  {% else %}
    <span>&raquo;</span>
  {% endif %}
</div>
{% endif %}


</article>