---
layout: default
title: Tech Posts - vsinha.com
---

<article>

{% for category in site.categories %}
    {% if category[0] == "tech" %}
        {% for catposts in category %}
            {% if forloop.first %}
                {% continue %}
            {% endif %}
            {% for post in catposts %}

                 <header>
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p id="postDate">{{ post.date | date_to_string }}</p>
                </header>

                {% if post.content contains '<!--more-->' %}  
                    {{ post.content | split:'<!--more-->' | first }}
                    <p><a href="{{ post.url }}">more...</a></p>
                {% else %}
                    {{ post.content }}
                {% endif %}

                <hr><br>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endfor %}
</article>