<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/minimal.css">
  <script src="https://github.com/themes/minimal/javascripts/scale.fix.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42414984-1', 'vsinha.com');
  ga('send', 'pageview');

  </script>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="/">Viraj Sinha</a></h1>
      </hr>

      <ul>

      <li><a href="/about.html">About</a></p>
      <li><a href="/posts.html">Posts</a></p>
      <li><a href="/photos.html">Photography</a></p>

      <li><a href="/vsinha_resume.pdf" target="tab" onmouseover="this.innerHTML='Resumé (PDF)'" onmouseout="this.innerHTML='Resumé'">Resumé</a></li>
      <li><a href="https://github.com/vsinha" target="tab" onmouseover="this.innerHTML='github.com/vsinha'" onmouseout="this.innerHTML='GitHub'">GitHub</a></li>
      <li><a href="https://twitter.com/VirajSinha" target="tab" onmouseover="this.innerHTML='twitter.com/VirajSinha'" onmouseout="this.innerHTML='Twitter'">Twitter</a></li>
      <li><a href="/rss.xml" target="tab">RSS</a></li>

      </ul>

    </header>
    <section id="main">
          {{ content }}
    </section>
    <footer>
            <!-- <p>This is the site of Viraj Sinha</p> -->
            <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> &mdash; Based on theme by <a href="https://github.com/orderedlist">orderedlist</a></small> &mdash;
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                      <img alt="Creative Commons License" style="border-width:0; vertical-align:middle" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
            </p>
    </footer>
  </div>

        <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
